minidumps
/server.log
/server.db
/steamclient.so
/thirdpartylegalnotices.txt
/steam_appid.txt
/libvstdlib_s.so
/libtier0_s.so
/libsteam_api.so
/libsteam.so
/liblua.so
Jcmp-Server
logs
steamapps
_CommonRedist
appcache
minidumps
JcmpServer.exe
lua.dll
server.db
server.log
server_readme.txt
Steam.dll
steam_api.dll
steam_appid.txt
steamclient.dll
thirdpartylegalnotices.txt
tier0_s.dll
vstdlib_s.dll
config.lua
*.vdf